.container {
    padding: 0 140px;

    .sectionOne {
        background-image: url("../../assets/images/sectionOne.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 506px;
        position: relative;
        margin: 60px 0;

        .sectionBackgroundSubColor {
            height: 100%;
            width: 100%;
            border-radius: 10px;
            background-color: rgba(0, 0, 0, 0.4);
            position: absolute;
            padding: 0;
            z-index: 0;
        }

        .sectionOneInfo {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            position: relative;
            z-index: 1;
        }

        h1 {
            margin: 0;
            color: var(--principal-color);
            font-size: 48pt;
            text-align: center;
        }
    }

    .sectionTwo {
        h2 {
            font-size: 30pt;
        }

        .popularPostContainer {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 20px;
            margin-bottom: 50px;
        }
    }

    .sectionThree {
        h2 {
            font-size: 30pt;
            text-align: center;
        }

        .categoriesContainer {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 20px;
            margin: 50px 0;
        }
    }

    @media screen and (max-width: 1024px) {
        padding: 0 50px;
    }

    @media screen and (max-width: 768px) {
        .sectionTwo {
            .popularPostContainer {
                grid-template-columns: 1fr 1fr;
            }
        }

        .sectionThree {
            .categoriesContainer {
                grid-template-columns: 1fr 1fr;
            }
        }
    }

    @media screen and (max-width: 480px) {
        padding: 0 20px;

        .sectionOne {
            h1 {
                font-size: 26pt;
            }
        }

        .sectionTwo {
            .popularPostContainer {
                grid-template-columns: 1fr;
            }
        }

        .sectionThree {
            .categoriesContainer {
                grid-template-columns: 1fr;
            }
        }
    }
}