.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 145px;
    height: 84px;
    margin-bottom: 60px;

    .logo {
        height: 80%;
    }

    .menu {
        ul {
            list-style: none;
            display: flex;
            gap: 20px;

            a {
                color: var(--third-color);
                text-decoration: none;
                font-weight: 500;

                &:hover {
                    color: var(--second-color);
                }
            }
        }
    }

    @media screen and (max-width: 1024px) {
        padding: 0 50px;
    }

    @media screen and (max-width: 425px) {
        padding: 0 20px;
        flex-direction: column;

        .menu {
            ul {
                padding: 0;
            }
        }
    }
}